<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="multipleInstanceViews" name="%extension-point.name" schema="schema/multipleInstanceViews.exsd"/>
   <extension-point id="startupMessages" name="%extension-point.name.0" schema="schema/startupMessages.exsd"/>
     <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            icon="icons/dipa_default.png"
            class="org.knime.workbench.ui.perspective.ModellerPerspectiveFactory"
            id="org.knime.workbench.ui.ModellerPerspective">
         <description>
            %perspective.description
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <view
               id="org.knime.workbench.explorer.view"
               minimized="false"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="org.knime.workbench.repository.view.RepositoryView"
               moveable="true"
               ratio="0.3"
               relationship="bottom"
               relative="org.knime.workbench.explorer.view"/>
         <view
               closeable="true"
               visible="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               id="org.eclipse.ui.console.ConsoleView"/>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.console.ConsoleView">
         </view>
         <!--view
               closeable="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               id="org.eclipse.ui.views.ProgressView"/-->
         <view
               closeable="true"
               id="org.knime.workbench.helpview"
               moveable="true"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss"/>
         <view
               closeable="true"
               id="org.knime.workbench.searchhubview"
               moveable="true"
               ratio="0.885"
               relationship="bottom"
               relative="org.knime.workbench.helpview"
               visible="true"/>
         <view
               closeable="true"
               id="org.knime.workbench.workflowcoach.view"
               moveable="true"
               ratio="0.2"
               relationship="top"
               relative="org.knime.workbench.repository.view.RepositoryView"
               visible="true">
         <view
               closeable="true"
               id="org.knime.workbench.nodemonitorview.nodemonitorview"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"/>
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
         <viewShortcut id="org.knime.workbench.explorer.view"/>
         <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
         <!--viewShortcut id="org.eclipse.ui.views.ProgressView"/-->
         <viewShortcut id="org.knime.workbench.helpview"/>
         <viewShortcut id="org.knime.workbench.searchhubview"/>
         <viewShortcut id="org.eclipse.pde.runtime.LogView"/>
         <viewShortcut id="org.knime.workbench.nodemonitorview.nodemonitorview"/>
         <viewShortcut id="org.knime.workbench.repository.view.RepositoryView"/>
         <viewShortcut id="org.knime.workbench.workflowcoach.view"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.knime.workbench.ui.ModellerPerspective">
         <perspectiveShortcut
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="org.eclipse.pde.ui.PDEPerspective">
         </perspectiveShortcut>
         <newWizardShortcut
               id="org.knime.workbench.ui.wizards.project.NewProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.knime.workbench.ui.newworkflowgroup">
         </newWizardShortcut>
         <perspectiveShortcut id="org.knime.workbench.ui.ModellerPerspective"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.preferences.MainPreferencePage"
            id="org.knime.workbench.ui.preferences.gui"
            name="%page.name">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.masterkey.MasterKeyPreferencePage"
            id="org.knime.workbench.ui.preferences.masterkey"
            name="%page.name.0">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.database.DatabasePreferencePage"
            id="org.knime.workbench.ui.preferences.database"
            name="%page.name.1">
      </page>
      <page
            class="org.knime.workbench.ui.preferences.HeadlessPreferencePage"
            id="org.knime.workbench.ui.preferences"
            name="%page.name.2">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.preferences.MetaInfoPreferencePage"
            id="org.knime.workbench.ui.metainfo"
            name="%page.name.3">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.preferences.PreferredRendererPreferencePage"
            id="org.knime.workbench.ui.preferredRenderers"
            name="%page.name.4">
      </page>
      <page
            category="org.knime.workbench.ui.preferences.gui"
            class="org.knime.workbench.ui.preferences.WorkflowEditorPreferencePage"
            id="org.knime.workbench.ui.preferences.gui.workfloweditor"
            name="%page.name.5">
      </page>
      <page
            category="org.knime.workbench.ui.preferences"
            class="org.knime.workbench.ui.preferences.DataStoragePreferencePage"
            id="org.knime.workbench.ui.preferences.datastorage"
            name="%page.name.6">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.knime.workbench.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.knime.workbench.ui.category"
            name="%category.name"/>
   </extension>
   
   <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="org.knime.workbench.ui.category"
             class="org.knime.workbench.ui.favorites.FavoritesView"
             icon="icons/fav/fav_nodes.png"
             id="org.knime.workbench.ui.favorites"
             name="%view.name">
       </view>
    </extension>
    <extension
          point="org.eclipse.ui.viewActions">
       <viewContribution
             id="org.knime.workbench.ui.favorites.actions"
             targetID="org.knime.workbench.ui.favorites">
          <action
                class="org.knime.workbench.ui.favorites.actions.RemoveFavoriteActionDelegate"
                disabledIcon="icons/fav/remove_fav_disabled.png"
                hoverIcon="icons/fav/remove_fav.png"
                icon="icons/fav/remove_fav.png"
                id="org.knime.workbench.ui.favorites.remove"
                label="%action.label"
                state="false"
                style="push"
                toolbarPath="Normal/additions"
                tooltip="%action.tooltip">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.ClearHistoryActionDelegate"
                icon="icons/fav/clear_history.png"
                id="org.knime.workbench.ui.favorites.clear"
                label="%action.label.0"
                toolbarPath="Normal/additions"
                tooltip="%action.tooltip.0">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.ExpandAllActionDelegate"
                icon="icons/fav/expandall.png"
                id="org.knime.workbench.ui.favorites.expand"
                label="%action.label.1"
                toolbarPath="Normal/additions"
                tooltip="%action.tooltip.1">
          </action>
          <action
                class="org.knime.workbench.ui.favorites.actions.CollapseAllActionDelegate"
                icon="icons/fav/collapseall.png"
                id="org.knime.workbench.ui.favorites.collapse"
                label="%action.label.2"
                toolbarPath="Normal/additions"
                tooltip="%action.tooltip.2">
          </action>
       </viewContribution>
	</extension>
    <extension
             point="org.eclipse.ui.actionSets">
          <actionSet
                id="org.knime.workbench.ui.global"
                label="%actionSet.label"
                visible="true">
             <action
                   class="org.knime.workbench.ui.OpenLogfileAction"
                   hoverIcon="icons/open_logfile.png"
                   icon="icons/open_logfile.png"
                   id="org.knime.workbench.ui.openLogfile"
                   label="%action.label.3"
                   menubarPath="view/knimelog"
                   tooltip="%action.tooltip.3">
             </action>
          </actionSet>
       </extension>
       <extension
             point="org.eclipse.core.contenttype.contentTypes">
          <content-type
                base-type="org.eclipse.core.runtime.text"
                file-extensions="log"
                id="org.knime.workbench.ui.log"
                name="%content-type.name"
                priority="normal">
          </content-type>
       </extension>
       <extension
             point="org.eclipse.ui.views">
       <view
             allowMultiple="false"
             category="org.knime.workbench.ui.category"
             class="org.knime.workbench.ui.startup.view.StartupMessagesView"
             icon="icons/startupMessages.png"
             id="org.knime.workbench.ui.startupMessages"
             name="%view.name.0">
       </view>
       </extension>
   
</plugin>
