<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
    <extension-point id="metanode_porttype" name="%extension-point.name" schema="schema/metanode_portype.exsd"/>
    <extension-point id="WorkflowEditorEventListener" name="%extension-point.name.0" schema="schema/WorkflowEditorEventListener.exsd"/>
    <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.description"
            name="%category.name"
            id="knime.command.category"/>
      <command
            categoryId="knime.command.category"
            description="%command.description"
            id="knime.commands.editor.workflowEditorSettings"
            name="%command.name"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.0"
            id="knime.commands.editor.toggleGrid"
            name="%command.name.0"/>
      <command
            categoryId="org.eclipse.gef.category.view"
            description="%command.description.1"
            id="knime.actions.zoom_reset"
            name="%command.name.1"/>
      <command
            categoryId="org.eclipse.gef.category.view"
            description="%command.description.2"
            id="knime.actions.zoom_in_alternate_increment"
            name="%command.name.2"/>
      <command
            categoryId="org.eclipse.gef.category.view"
            description="%command.description.3"
            id="knime.actions.zoom_out_alternate_increment"
            name="%command.name.3"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.4"
            id="knime.commands.editor.subnodeLayout"
            name="%command.name.4"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.5"
            id="knime.commands.editor.moveNodesUp"
            name="%command.name.5"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.6"
            id="knime.commands.editor.moveNodesDown"
            name="%command.name.6"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.7"
            id="knime.commands.editor.moveNodesLeft"
            name="%command.name.7"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.8"
            id="knime.commands.editor.moveNodesRight"
            name="%command.name.8"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.9"
            id="knime.commands.editor.bringToFront"
            name="%command.name.9"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.10"
            id="knime.commands.editor.bringForward"
            name="%command.name.10"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.11"
            id="knime.commands.editor.sendBackward"
            name="%command.name.11"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.12"
            id="knime.commands.editor.sendToBack"
            name="%command.name.12"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.13"
            id="knime.commands.openDialog"
            name="%command.name.13"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.14"
            id="knime.commands.execute"
            name="%command.name.14"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.15"
            id="knime.commands.executeall"
            name="%command.name.15"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.16"
            id="knime.commands.cancel"
            name="%command.name.16"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.17"
            id="knime.commands.cancelall"
            name="%command.name.17"/>  
      <command
            categoryId="knime.command.category"
            description="%command.description.18"
            id="knime.commands.reset"
            name="%command.name.18"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.19"
            id="knime.commands.hideNodeNames"
            name="%command.name.19"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.20"
            id="knime.commands.appendNodeIds"
            name="%command.name.20"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.21"
            id="knime.commands.findnode"
            name="%command.name.21"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.22"
            id="knime.commands.openView"
            name="%command.name.22"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.23"
            id="knime.commands.executeAndOpenView"
            name="%command.name.23"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.24"
            id="knime.commands.setNameAndDescription"
            name="%command.name.24"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.25"
            id="knime.commands.openFirstOutPortView"
            name="%command.name.25"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.26"
            id="knime.commands.addMetaNode"
            name="%command.name.26"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.27"
            id="knime.commands.updateMetaNodeLink"
            name="%command.name.27"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.28"
            id="knime.commands.steploop"
            name="%command.name.28"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.29"
            id="knime.commands.pauseexecution"
            name="%command.name.29"/>  
      <command
            categoryId="knime.command.category"
            description="%command.description.30"
            id="knime.commands.resumeloop"
            name="%command.name.30"/>       
      <command
            categoryId="knime.command.category"
            description="%command.description.31"
            id="knime.action.selectLoop"
            name="%command.name.31"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.32"
            id="knime.commands.unlinknodes"
            name="%command.name.32"/>
      <command
            categoryId="knime.command.category"
            description="%command.description.33"
            id="knime.commands.linknodes"
            name="%command.name.33"/>
    </extension>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.knime.workbench.editor2.WorkflowEditor"
            contributorClass="org.knime.workbench.editor2.WorkflowEditorActionBarContributor"
            default="true"
            extensions="knime"
            filenames="knime"
            icon="icons/dipa.png"
            id="org.knime.workbench.editor.WorkflowEditor"
            name="%editor.name"/>
    </extension>
    <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.knime.workbench.editor.editorContribution"
            targetID="org.knime.workbench.editor.WorkflowEditor">
         <menu id="org.knime.workbench.editor.menu"
                    label="%menu.label"
                    path="additions">
                <groupMarker name="group1"/>
                <groupMarker name="group2"/>
         </menu>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ResumeLoopEditorAction"
               definitionId="knime.commands.resumeloop"
               disabledIcon="icons/resume_disabled.PNG"
               icon="icons/resume.png"
               id="org.knime.workbench.editor.actions.resumeloop"
               label="%action.label"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.PauseLoopExecutionEditorAction"
               definitionId="knime.commands.pauseexecution"
               disabledIcon="icons/pause_disabled.png"
               icon="icons/pause.png"
               id="org.knime.workbench.editor.actions.pauseexecution"
               label="%action.label.0"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.0"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.StepLoopEditorAction"
               definitionId="knime.commands.steploop"
               disabledIcon="icons/step_disabled.png"
               icon="icons/step.png"
               id="org.knime.workbench.editor.actions.stepLoop"
               label="%action.label.1"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.1"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.UnlinkNodesEditorAction"
               definitionId="knime.commands.unlinknodes"
               disabledIcon="icons/unlink_nodes_disabled.png"
               icon="icons/unlink_nodes.png"
               id="org.knime.workbench.editor.actions.unlinkSelectedNodes"
               label="%action.label.2"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               tooltip="%action.tooltip.2"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.LinkNodesEditorAction"
               definitionId="knime.commands.linknodes"
               disabledIcon="icons/link_nodes_disabled.png"
               icon="icons/link_nodes.png"
               id="org.knime.workbench.editor.actions.linkSelectedNodes"
               label="%action.label.3"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               tooltip="%action.tooltip.3"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.HideNodeNamesEditorAction"
               definitionId="knime.commands.hideNodeNames"
               disabledIcon="icons/hideNodeNames_disabled.png"
               icon="icons/hideNodeNames.png"
               id="org.knime.workbench.editor.actions.hideNodeNames"
               label="%action.label.4"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="toggle"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.4"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ShowNodeIdsEditorAction"
               definitionId="knime.commands.appendNodeIds"
               disabledIcon="icons/showNodeIds_disabled.png"
               icon="icons/showNodeIds.png"
               id="org.knime.workbench.editor.actions.appendNodeIds"
               label="%action.label.5"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="toggle"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.5"/>
         <action
               class="org.knime.workbench.editor2.actions.AddMetaNodeAction"
               definitionId="knime.commands.addMetaNode"
               disabledIcon="icons/meta/metanode_add.png"
               icon="icons/meta/metanode_add.png"
               id="org.knime.workbench.editor.meta"
               label="%action.label.6"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.6"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.CheckUpdateMetaNodeLinkAllEditorAction"    
               definitionId="knime.commands.updateMetaNodeLink"
               disabledIcon="icons/meta/metanode_link_update.png"
               icon="icons/meta/metanode_link_update.png"
               id="knime.action.meta_node_check_update_link_all"
               label="%action.label.7"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               tooltip="%action.tooltip.7"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.FindNodeEditorAction"
               definitionId="knime.commands.findnode"
               icon="icons/findNode.png"
               id="org.knime.workbench.editor.actions.findnode"
               label="%action.label.8"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               tooltip="%action.tooltip.8"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.DefaultOpenViewEditorAction"
               definitionId="knime.commands.openView"
               disabledIcon="icons/openView_disabled.gif"
               icon="icons/openView.gif"
               id="org.knime.workbench.editor.actions.defaultOpen"
               label="%action.label.9"
               menubarPath="org.knime.workbench.editor.menu/group1"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.9"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.OpenFirstOutPortViewEditorAction"
               definitionId="knime.commands.openFirstOutPortView"
               disabledIcon="icons/openPortView_disabled.png"
               icon="icons/openPortView.png"
               id="org.knime.workbench.editor.actions.openFirstOutPortView"
               label="%action.label.10"
               menubarPath="org.knime.workbench.editor.menu/group1"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.10"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.SetNodeDescriptionEditorAction"
               definitionId="knime.commands.setNameAndDescription"
               disabledIcon="icons/setNameDescription_disabled.PNG"
               icon="icons/setNameDescription.PNG"
               id="org.knime.workbench.editor.actions.setnameanddescription"
               label="%action.label.11"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.11"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ResetEditorAction"
               definitionId="knime.commands.reset"
               disabledIcon="icons/resetNode_disabled.gif"
               icon="icons/resetNode.gif"
               id="org.knime.workbench.editor.actions.reset"
               label="%action.label.12"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.12"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.CancelAllEditorAction"
               definitionId="knime.commands.cancelall"
               disabledIcon="icons/cancelAll_disabled.PNG"
               icon="icons/cancelAll.PNG"
               id="org.knime.workbench.editor.actions.cancelall"
               label="%action.label.13"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.13"/>     
         <action
               class="org.knime.workbench.editor2.actions.delegates.CancelEditorAction"
               definitionId="knime.commands.cancel"
               disabledIcon="icons/cancel_disabled.PNG"
               icon="icons/cancel.PNG"
               id="org.knime.workbench.editor.actions.cancel"
               label="%action.label.14"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.14"/>                   
         <action
               class="org.knime.workbench.editor2.actions.delegates.ExecuteAndOpenViewEditorAction"
               definitionId="knime.commands.executeAndOpenView"
               disabledIcon="icons/executeAndView_disabled.PNG"
               icon="icons/executeAndView.PNG"
               id="org.knime.workbench.editor.actions.executeAndOpenView"
               label="%action.label.15"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.15"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ExecuteAllEditorAction"
               definitionId="knime.commands.executeall"
               disabledIcon="icons/executeAll_disabled.PNG"
               icon="icons/executeAll.PNG"
               id="org.knime.workbench.editor.actions.executeall"
               label="%action.label.16"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.16"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ExecuteEditorAction"
               definitionId="knime.commands.execute"
               disabledIcon="icons/execute_disabled.PNG"
               icon="icons/execute.PNG"
               id="org.knime.workbench.editor.actions.execute"
               label="%action.label.17"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.17"/>    
         <action
               class="org.knime.workbench.editor2.actions.delegates.OpenDialogEditorAction"
               definitionId="knime.commands.openDialog"
               disabledIcon="icons/openDialog_disabled.gif"
               icon="icons/openDialog.gif"
               id="org.knime.workbench.editor.actions.openDialog"
               label="%action.label.18"
               menubarPath="org.knime.workbench.editor.menu/group1"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group1"
               tooltip="%action.tooltip.18"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.OpenMultipleDialogEditorAction"
               definitionId="knime.commands.openMultiDialog"
               disabledIcon="icons/confexec_dis.png"
               icon="icons/confexec.png"
               id="org.knime.workbench.editor.actions.openMultiDialog"
               label="%action.label.19"
               menubarPath="org.knime.workbench.editor.menu/group2"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group2"
               tooltip="%action.tooltip.19"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.SubnodeLayoutEditorAction"
               definitionId="knime.commands.editor.subnodeLayout"
               disabledIcon="icons/layout_16_bw.png"
               icon="icons/layout_16.png"
               id="org.knime.workbench.editor.actions.subnodeLayout"
               label="%action.label.20"
               menubarPath="org.knime.workbench.editor.menu/group2"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group2"
               tooltip="%action.tooltip.20"/>
         
         
         <action
               class="org.knime.workbench.editor2.actions.delegates.ChangeEditorUIEditorAction"
               definitionId="knime.commands.editor.workflowEditorSettings"
               disabledIcon="icons/editor_UI_settings_16_disabled.png"
               icon="icons/editor_UI_settings_16.png"
               id="org.knime.workbench.editor.actions.gridSettings"
               label="%action.label.21"
               menubarPath="org.knime.workbench.editor.menu/group2"
               style="push"
               toolbarPath="org.knime.workbench.editor.menu/group2"
               tooltip="%action.tooltip.21"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.ToggleGridEditorAction"
               definitionId="knime.commands.editor.toggleGrid"
               disabledIcon="icons/editor_UI_settings_16_disabled.png"
               icon="icons/editor_UI_settings_16.png"
               id="org.knime.workbench.editor.actions.toggleGrid"
               label="%action.label.22"
               style="push"
               tooltip="%action.tooltip.22"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.MoveNodeUpEditorAction"
               definitionId="knime.commands.editor.moveNodesUp"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.moveNodeUp"
               label="%action.label.23"
               style="push"
               tooltip="%action.tooltip.23"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.MoveNodeDownEditorAction"
               definitionId="knime.commands.editor.moveNodesDown"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.moveNodeDown"
               label="%action.label.24"
               style="push"
               tooltip="%action.tooltip.24"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.MoveNodeLeftEditorAction"
               definitionId="knime.commands.editor.moveNodesLeft"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.moveNodeLeft"
               label="%action.label.25"
               style="push"
               tooltip="%action.tooltip.25"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.MoveNodeRightEditorAction"
               definitionId="knime.commands.editor.moveNodesRight"
               disabledIcon="icons/move_dis.png"
               icon="icons/move.png"
               id="org.knime.workbench.editor.actions.moveNodeRight"
               label="%action.label.26"
               style="push"
               tooltip="%action.tooltip.26"/>
         <action
               class="org.knime.workbench.editor2.actions.delegates.BringAnnotationToFrontEditorAction"
               definitionId="knime.commands.editor.bringToFront"
               disabledIcon="icons/annotation-to-front_disabled.png"
               icon="icons/annotation-to-front.png"
               id="org.knime.workbench.editor.actions.bringToFront"
               label="%action.label.27"
               style="push"
               tooltip="%action.tooltip.27"/>     
         <action
               class="org.knime.workbench.editor2.actions.delegates.BringAnnotationForwardEditorAction"
               definitionId="knime.commands.editor.bringForward"
               disabledIcon="icons/annotation-forward_disabled.png"
               icon="icons/annotation-forward.png"
               id="org.knime.workbench.editor.actions.bringForward"
               label="%action.label.28"
               style="push"
               tooltip="%action.tooltip.28"/>     
         <action
               class="org.knime.workbench.editor2.actions.delegates.SendAnnotationBackwardEditorAction"
               definitionId="knime.commands.editor.sendBackward"
               disabledIcon="icons/annotation-backward_disabled.png"
               icon="icons/annotation-backward.png"
               id="org.knime.workbench.editor.actions.sendBackward"
               label="%action.label.29"
               style="push"
               tooltip="%action.tooltip.29"/>     
         <action
               class="org.knime.workbench.editor2.actions.delegates.SendAnnotationToBackEditorAction"
               definitionId="knime.commands.editor.sendToBack"
               disabledIcon="icons/annotation-to-back_disabled.png"
               icon="icons/annotation-to-back.png"
               id="org.knime.workbench.editor.actions.sendToBack"
               label="%action.label.30"
               style="push"
               tooltip="%action.tooltip.30"/>     
          <action
               class="org.knime.workbench.editor2.actions.delegates.SelectLoopEditorAction"
               definitionId="knime.action.selectLoop"
               disabledIcon="icons/select_loop_dis.png"
               icon="icons/select_loop.png"
               id="org.knime.workbench.editor.actions.selectLoop"
               label="%action.label.31"
               menubarPath="org.knime.workbench.editor.menu/group2"
               style="push"
               tooltip="%action.tooltip.31"/>
      </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="knime.commands.updateMetaNodeLink"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+U"/>
      <key
            commandId="knime.commands.findnode"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F"/>
      <key
            commandId="knime.commands.setNameAndDescription"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+F2"/>
      <key
            commandId="knime.commands.openDialog"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F6"/>
      <key
            commandId="knime.commands.editor.gridSettings"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ALT+X"/>
      <key
            commandId="knime.commands.editor.toggleGrid"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+X"/>
      <key
            commandId="knime.actions.zoom_reset"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+0"/>
      <key
            commandId="knime.actions.zoom_out_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+-"/>
            <!-- copied from org.eclipse.gef/plugin.xml without locale=de -->
      <key  
            commandId="org.eclipse.gef.zoom_in"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1++"/>
            <!-- the preferred mapping, on Linux and Win10 -->
      <key
            commandId="knime.actions.zoom_in_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT++"/>
            <!-- for users who treat the =/+ key like + without hitting shift, on Linux and Win10 -->
      <key
            commandId="knime.actions.zoom_in_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+="/>
            <!-- how Eclipse on macOS treats the COMMAND-ALT-= key press -->
      <key
            commandId="knime.actions.zoom_in_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+≠"/>
            <!-- how Eclipse on macOS treats the COMMAND-ALT-+ key press -->
      <key
            commandId="knime.actions.zoom_in_alternate_increment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+±"/>
      <key
            commandId="knime.commands.openView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F10"/>
      <key
            commandId="knime.commands.executeAndOpenView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F10"/>
      <key
            commandId="knime.commands.reset"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F8"/>
      <key
            commandId="knime.commands.hideNodeNames"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+Q"/>    
      <key
            commandId="knime.commands.appendNodeIds"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+W"/>    
      <key
            commandId="knime.commands.execute"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7"/>
      <key
            commandId="knime.commands.executeall"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F7"/>
      <key
            commandId="knime.commands.cancel"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9"/>
      <key
            commandId="knime.commands.cancelall"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F9"/>
      <key
            commandId="knime.commands.openFirstOutPortView"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="SHIFT+F6"/>
      <key
            commandId="knime.commands.steploop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+F6"/>
      <key
            commandId="knime.commands.pauseexecution"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+F7"/>
      <key
            commandId="knime.commands.resumeloop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+F8"/>
      <key
            commandId="knime.action.selectLoop"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+ALT+F10"/>
      <key
            commandId="knime.commands.unlinknodes"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+L"/>
      <key
            commandId="knime.commands.linknodes"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+L"/>
      <key
            commandId="knime.commands.editor.moveNodesUp"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ARROW_UP"/>
      <key
            commandId="knime.commands.editor.moveNodesDown"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ARROW_DOWN"/>
      <key
            commandId="knime.commands.editor.moveNodesLeft"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ARROW_LEFT"/>
      <key
            commandId="knime.commands.editor.moveNodesRight"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+ARROW_RIGHT"/>
      <key
            commandId="knime.commands.editor.bringToFront"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+PAGE_UP"/>
      <key
            commandId="knime.commands.editor.bringForward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+PAGE_UP"/>
      <key
            commandId="knime.commands.editor.sendBackward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+PAGE_DOWN"/>
      <key
            commandId="knime.commands.editor.sendToBack"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SHIFT+PAGE_DOWN"/>
    </extension>
    <extension
            point="org.eclipse.ui.views">
         <!-- even though the id below (helpview) no longer matches the package it was preserved as it is
         		referenced in potentially stored settings of earlier KNIME versions -->
         <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.descriptionview.DescriptionView"
            icon="icons/node_description.png"
            id="org.knime.workbench.helpview"
            name="%view.name"/>
         <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.searchhubview.SearchHubView"
            icon="icons/dipa.png"
            id="org.knime.workbench.searchhubview"
            name="%view.name.0"/>
         <view
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.nodemonitorview.NodeMonitorView"
            icon="icons/node_monitor.png"
            id="org.knime.workbench.nodemonitorview.nodemonitorview"
            name="%view.name.1"/>
    </extension>
    <extension
    		point="org.eclipse.ui.menus">
    	<menuContribution
    			locationURI="menu:file?after=closeAll">
    		<separator
		            name="org.knime.workbench.editor2.menu.premrufilemenu"
		            visible="true"/>
    		<menu
	    			id="org.knime.workbench.editor2.menu.mrufilemenu"
	    			label="%menu.label.0"
	    			tooltip="%menu.tooltip">
		    	<dynamic
			    		class="org.knime.workbench.editor2.menu.MRUFileMenuItem"
			    		id="org.knime.workbench.editor2.menu.mrufilemenuitem">
		    	</dynamic>
		    </menu>
    		<separator
		            name="org.knime.workbench.editor2.menu.postmrufilemenu"
		            visible="true"/>
    	</menuContribution>
	</extension>
    <extension
           point="org.eclipse.ui.contexts">
        <context
              description="%context.description"
              id="org.knime.workbench.editor.context"
              name="%context.name"
              parentId="org.eclipse.ui.contexts.window"/>
    </extension>
    <extension
            point="org.knime.core.WizardNodeView">
         <wizardNodeView
            description="This browser uses the native system browser that SWT can use. In a typical environment this should be Internet Explorer on Windows and WebKit on Linux and Mac."
            name="Internal SWT Browser"
            viewClass="org.knime.workbench.editor2.WizardNodeView"/>
     </extension>
</plugin>
